{% extends 'base.html'%}
{% block content %}
  <header class="masthead" style="margin-top: 40px;">
    <div class=""></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
          <h2>BLOG PO$T</h2>
          <h3>Post It Once to Moneytize</h3>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card "id="whatwedo">
    <div class=" container-fluid">
      <div class="col-md-3">
        <!--empty-->
      </div>
      <div class="col-md-6">
        {% for post in posts[::-1]%}
          <div class="post-preview">
            <a href="{{url_for('main.post', id = post.id)}}">
              <h2 class="post-title">
                {{post.post_title}}
              </h2>
              <h3 class="post-subtitle">
                {{post.post_content | truncate (100) | safe}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="{{url_for('main.profile', id = post.user_id)}}">{{post.post_by}}</a> on
              {{post.posted_at.strftime('%B %d, %Y')}}
            </p>
          </div>
          <hr>
        {% endfor%}
      </div>
      <div class="col-md-3">
        <!--empty-->
      </div>
    </div>
{% endblock %}

